{% extends "portal/base.html" %}

{% block content %}

<div class="container mt-1">

    <div class="d-flex justify-content-between align-items-center mb-1">
        <h4 class="mb-1">
            <a href="{% url 'meter_reading_list' %}" class="text-decoration-none text-dark">
                Meter Readings
            </a>
            {% if month_name %}
                <span> || For {{ month_name }}</span>
            {% else %}
                <span> ||  {{ start_date|default:"up"  }} to {{ end_date|default:"now"  }}  </span>
            {% endif %}
        </h4>

        <a href="{% url 'meter_reading_create' %}" class="btn btn-sm btn-primary">Add Reading</a>
    </div>

    <!-- 🔎 Search & Filter -->
    <form method="get" class="row mb-3">

        <div class="col-md-2">
            <input type="text"
                   name="search"
                   value="{{ request.GET.search }}"
                   class="form-control"
                   placeholder="Search by meter num">
        </div>
        <div class="col-md-2">
            <select name="status" class="form-select">
                <option value="">All Status</option>
                <option value="INITIAL" {% if status == "Initial" %}selected{% endif %}>Initial</option>
                <option value="FRESH" {% if status == "Fresh" %}selected{% endif %}>Fresh</option>
                <option value="FAILED" {% if status == "Failed" %}selected{% endif %}>Failed</option>
                <option value="GENERATED" {% if status == "Generated" %}selected{% endif %}>Generated</option>
                <option value="VOIDED" {% if status == "Voided" %}selected{% endif %}>Voided</option>
                <option value="BILVOIDED" {% if status == "Bill Voided" %}selected{% endif %}>Bill Voided</option>
                <option value="EDITED" {% if status == "Edited" %}selected{% endif %}>Edited</option>
            </select>
        </div>
        <div class="col-md-2">
            <input type="date" name="start_date" value="{{ start_date }}" class="form-control">
        </div>

        <div class="col-md-2">
            <input type="date" name="end_date" value="{{ end_date }}" class="form-control">
        </div>

        <div class="col-md-2">
            <button type="submit" class="btn btn-secondary px-4">
                Filter
            </button>
        </div>

    </form>

    <!-- 📊 Table -->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Meter</th>
                <th>Reading Date</th>
                <th>Reading Value</th>
                <th>Previous</th>
                <th>Consumption</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            {% for reading in readings %}
                <tr>
                    <td>{{ reading.meter.meter_number }}</td>
                    <td>{{ reading.reading_date }}</td>
                    <td>{{ reading.reading_value }}</td>
                    <td>{{ reading.previous_reading }}</td>
                    <td>{{ reading.consumption }}</td>
                    <td><a href="{% url 'meter_reading_detail' reading.pk %}" style="text-decoration: none; color: inherit;">
                            {{ reading.reading_status }}
                        </a>
                    </td>

                </tr>
            {% empty %}
                <tr>
                    <td colspan="6" class="text-center">
                        No readings found.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- 📄 Pagination -->
    {% if is_paginated %}
        <nav>
            <ul class="pagination">

                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ page_obj.previous_page_number }}">
                            Previous
                        </a>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <span class="page-link">
                        {{ page_obj.number }}
                    </span>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ page_obj.next_page_number }}">
                            Next
                        </a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    {% endif %}

</div>

{% endblock %}
