{% extends "admin/base_site.html" %}
<style>
    .module.aligned {
        padding: 20px 30px;
        background: #fff;
        border-radius: 6px;
        border: 1px solid #ddd;
    }
    .form-row {
        margin-bottom: 12px;
    }
</style>

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'landing' %}">Grid Command Center</a>
</h1>
{% endblock %}
{% block content %}
<div class="module aligned" style="max-width: 600px;">
    {% block breadcrumbs %}
      <div class="breadcrumbs">
        <a href="{% url 'landing' %}">{% translate 'Home' %}</a>
        {% if title %} &rsaquo; {{ title }}{% endif %}
      </div>
    {% endblock %}
    <h2>Register for {{ invitation.tenant.name }}</h2>

    <fieldset class="module aligned form-control">
        <div class="form-row">
            <label><strong>Email: </strong></label>
            <span class="readonly">{{ invitation.email }}</span>
        </div>

        <div class="form-row">
            <label><strong>Role: </strong></label>
            <span class="readonly">{{ invitation.role.name }}</span>
        </div>
    </fieldset>

    <form method="post" class="aligned">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-row mb-1">
            <label for="{{ form.first_name.id_for_label }}">First name</label>
            {{ form.first_name }}
            {{ form.first_name.errors }}
        </div>

        <div class="form-row mb-1">
            <label for="{{ form.middle_name.id_for_label }}">Middle name</label>
            {{ form.middle_name }}
            {{ form.middle_name.errors }}
        </div>

        <div class="form-row mb-1">
            <label for="{{ form.last_name.id_for_label }}">Last name</label>
            {{ form.last_name }}
            {{ form.last_name.errors }}
        </div>

        <div class="form-row mb-1">
            <label for="{{ form.password1.id_for_label }}">Password</label>
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>

        <div class="form-row mb-1">
            <label for="{{ form.password2.id_for_label }}">Confirm password</label>
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>

        <div class="submit-row mb-1">
            <input type="submit" value="Create account" class="default">
        </div>
    </form>

</div>
{% endblock %}
