{% extends "portal/base.html" %}

{% block content %}
<div class="container">
    {% include 'customers/customer_dashboard_header.html' %}

    <div class="card shadow-sm mb-4">
        <div class="card-header bg-dark text-white">
            <h5 class="mb-0">
                Customer Number: {{ customer.customer_no }}
            </h5>
        </div>

        <div class="card-body">

            <div class="row">

                <div class="col-md-6">
                    <p><strong>Customer Name:</strong> {{ customer.full_name }}</p>
                    <p><strong>Phone:</strong> {{ customer.phone }}</p>
                    <p><strong>Email:</strong> {{ customer.email }}</p>
                    <p><strong>Customer Type:</strong> {{ customer.get_customer_type_display }}</p>
                </div>

                <div class="col-md-6">
                    <p><strong>Bill Number:</strong> 
                        {% for assignment in assignment_history %} 
                            {{ assignment.meter.bill_number }},
                        {% endfor %}
                    </p>
                    <p><strong>Status:</strong>
                        {% if customer.is_active %}
                            <span class="badge bg-success">Active</span>
                        {% else %}
                            <span class="badge bg-danger">Inactive</span>
                        {% endif %}
                    </p>
                    <p><strong>Registered By:</strong> {{ customer.registered_by }}</p>
                    <p><strong>Registered On:</strong> {{ customer.created_at|date:"Y-m-d" }}</p>
                </div>
            </div>

            <hr>

            <div class= "row mt-4">
                 <div class="col-md-3 ">
                    <h6>Woreda</h6>
                    <p>{{ customer.woreda }}</p>
                </div>
                <div class="col-md-3 ">
                    <h6>Kebele</h6>
                    <p> {{ customer.kebele }}</p>
                </div>
                <div class="col-md-5">
                    <h6>Address</h6>
                    <p>{{ customer.address }}</p>
                </div>

            </div>
        </div>
    </div>

    <!-- Assignment History -->
    <div class="card shadow-sm">
        <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
            <div>
                Meter Assignment History
            </div>
            <div> 
                {% if assignment_history %}
                    <a href="{% url 'customer_receipts' customer.customer_no %}"
   class="text-decoration-none text-white"
   onclick="openReceiptWindow(this.href); return false;">
    Receipts
</a>

                {% else %}
                    <span class="text-white">No receipts available.</span>
                {% endif %}
            </div>
        </div>
        
        <div class="card-body">

            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Meter</th>
                        <th>Branch</th>
                        <th>Bill Number</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in assignment_history %}
                        <tr>
                            <td>{{ a.meter.meter_number }}</td>
                            <td>{{ a.branch.name }}</td>
                            <td>{{ a.meter.bill_number }}</td>
                            <td>{{ a.start_date }}</td>
                            <td>{{ a.end_date|default:"-" }}</td>
                            <td>
                                {% if a.is_active %}
                                    <span class="badge bg-success">Active</span>
                                {% else %}
                                    <span class="badge bg-secondary">Closed</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="text-center text-muted">
                                No assignment history.
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <div class= "d-flex justify-content-between mt-3 mb-3">
        <div class="">
                <a href="{{ request.GET.next|default:'{% url "customer_list" %}' }}"
                    class="btn btn-secondary">
                    ← Back to List
                </a>
            </div>
                
        <div class="">
            <a class="btn btn-warning" 
            href="{% url 'customer_update' customer.customer_no %}?next={{ request.GET.next|urlencode }}">
                Edit Customer
            </a>
        </div>
    </div>
</div>
<script>
    function openReceiptWindow(url) {
        const width = 900;
        const height = 700;

        // Calculate center position
        const left = (window.screen.width - width) / 2;
        const top = (window.screen.height - height) / 2;

        window.open(
            url,
            "_blank",
            `toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,
            width=${width},height=${height},top=${top},left=${left}`
        );
    }
</script>


{% endblock %}