{% extends "portal/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    {% include 'customers/meter_dashboard_header.html' %}
    
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">
                {% if edit_mode %}
                    Edit Customer - {{ customer.customer_no }}
                {% else %}
                    Customer Registration
                {% endif %}
            </h5>
        </div>

        <div class="card-body">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="status_reason" id="status_reason">

                {% if next_url %}
                    <input type="hidden" name="next" value="{{ next_url }}">
                {% endif %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <div class="row">

                    <!-- First Name -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">First Name *</label>
                        {{ form.first_name|add_class:"form-control" }}
                        <div class="text-danger small">{{ form.first_name.errors }}</div>
                    </div>

                    <!-- Middle Name -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Middle Name *</label>
                        {{ form.middle_name|add_class:"form-control" }}
                        <div class="text-danger small">{{ form.middle_name.errors }}</div>
                    </div>

                    <!-- Last Name -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Last Name *</label>
                        {{ form.last_name|add_class:"form-control" }}
                        <div class="text-danger small">{{ form.last_name.errors }}</div>
                    </div>

                    <!-- Phone -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Phone</label>
                        {{ form.phone|add_class:"form-control" }}
                        <div class="text-danger small">{{ form.phone.errors }}</div>
                    </div>

                    <!-- Email -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Email</label>
                        {{ form.email|add_class:"form-control" }}
                        <div class="text-danger small">{{ form.email.errors }}</div>
                    </div>
                </div>
                <div class="row">
                    <!-- left col -->
                    <div class="col-md-6 mb-3">
                        <!-- Customer Type -->
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Customer Type *</label>
                            {{ form.customer_type|add_class:"form-select" }}
                            <div class="text-danger small">{{ form.customer_type.errors }}</div>
                        </div>
                        <div class="row">
                            <!-- Woreda -->
                            <div class="col-md-6 mb-3" >
                                <label class="form-label">Woreda *</label>
                                {{ form.woreda|add_class:"form-select" }}
                             
                                
                                <div class="text-danger small">{{ form.woreda.errors }}</div>
                            </div>
                            
                            <!-- Kebele -->
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Kebele *</label>
                                {{ form.kebele|add_class:"form-select" }}
                                <div class="text-danger small">{{ form.kebele.errors }}</div>
                            </div>
                        </div>

                        <!-- Address -->
                        <div class="col-md-12  mb-3">
                            <label class="form-label">Address *</label>
                            {{ form.address|add_class:"form-control" }}
                            <div class="text-danger small">{{ form.address.errors }}</div>
                        </div>
                        <!-- status -->
                        <div class="col-md-12  mb-3">
                            <label class="form-label">Is Active *</label>
                            {{ form.is_active|add_class:"form-check-input" }}
                            <div class="text-danger small">{{ form.is_active.errors }}</div>
                        </div>
                    </div>

                    <!-- right col   -->
                    <div class="col-md-6 mb-3">
                        <!-- ID Number -->
                        <div class="col-md-12  mb-3">
                            <label class="form-label">ID Number</label>
                            {{ form.id_number|add_class:"form-control" }}
                            <div class="text-danger small">{{ form.id_number.errors }}</div>
                        </div>
                        <!-- ID Image -->
                        <div class="col-md-12  mb-3">
                            <label class="form-label">Upload ID Image</label>
                            {{ form.id_image|add_class:"form-control" }}
                            <div class="text-danger small">{{ form.id_image.errors }}</div>
                        </div>
                        <!-- Delegation Letter -->
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Delegation Letter</label>
                            {{ form.delegation_letter|add_class:"form-control" }}
                            <div class="text-danger small">{{ form.delegation_letter.errors }}</div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="d-flex justify-content-between">
                    {% if  edit_mode %}
                    <a href="{% url 'customer_detail' customer.customer_no %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" class="btn btn-secondary">
                        ← Back to Details
                    </a>
                    {% else %}
                    <a href="{% url 'customer_list' %}?next={{ request.GET.next|urlencode }}" class="btn btn-secondary">
                        ← Back to List
                    </a>
                    {% endif %}

                    <button type="submit" class="btn btn-primary">
                        {% if edit_mode %}
                            Update Customer
                        {% else %}
                            Register Customer
                        {% endif %}
                    </button>
                </div>

            </form>
            <!-- Status Change Modal -->
            <div class="modal fade" id="statusModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">

                    <div class="modal-header bg-warning">
                        <h5 class="modal-title">Reason Required</h5>
                    </div>

                    <div class="modal-body">
                        <p>Please provide a reason for this status change:</p>
                        <textarea id="reason_input" class="form-control" rows="3"></textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary"
                                onclick="submitWithReason()">
                            Confirm
                        </button>
                    </div>

                </div>
            </div>
            </div>

        </div>
    </div>
    
</div>
{% endblock %}